body {
    background-color: #0f0f0f;
    color: red;
}

.flex-container {
    display: flex;
}

h1, label {
    color: red;
}

img {
    justify-content:center;
    filter: brightness(150%);
    height:100%;
    width:auto;
}

button {
    background-color: black;
    color:red;
}

input, select, textarea {
    background-color: gray;
    color: red;
}

input [type="file"] {
    display: none;
}